# .github/workflows/e2e.yml
name: End-to-End Tests

on:
    pull_request:
        branches:
            - dev

jobs:
    e2e:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '16'

            - name: Install dependencies
              run: npm install --legacy-peer-deps

            - name: Start Development Server
              run: npm run dev &
              env:
                  CI: true

            - name: Run Cypress Tests
              run: npm run e2e:run
